.btn-primary {
    @include button-variant(
        $btn-primary-bg,
        $btn-primary-border-color,
        $btn-primary-color,
        $btn-primary-hover-bg,
        $btn-primary-hover-border-color,
        $btn-primary-hover-color
    );
}

.btn {
    &.btn-event-danger {
        @extend .btn-primary;

        box-shadow: 0px 0px 25px $btn-event-shadow-spread-radius rgba(255,0,0,0.59) inset;
        border-color:$red-700;
    }
    
    &.btn-event-warning {
        @extend .btn-primary;

        box-shadow: 0px 0px 25px $btn-event-shadow-spread-radius rgba(255,255,0,0.59) inset;
        border-color:$yellow-700;
    }
}