@import './bootstrap-requirements.scss';

$primary: $gray-300;
$component-active-bg: $primary;

$body-bg: $black;
$body-color: $primary;

$border-color: $gray-800;

$accordion-padding-y:                     1rem;
$accordion-padding-x:                     1.25rem;
$accordion-color:                         $body-color;
$accordion-bg:                            $gray-900;
$accordion-border-width:                  $border-width;
$accordion-border-color:                  $border-color;
$accordion-border-radius:                 $border-radius;
$accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);

$accordion-body-padding-y:                $accordion-padding-y;
$accordion-body-padding-x:                $accordion-padding-x;

$accordion-button-padding-y:              $accordion-padding-y;
$accordion-button-padding-x:              $accordion-padding-x;
$accordion-button-color:                  $accordion-color;
$accordion-button-bg:                     $accordion-bg;
$accordion-transition:                    $btn-transition, border-radius .15s ease;
$accordion-button-active-bg:              $accordion-bg;
$accordion-button-active-color:           shade-color($primary, 10%);

$accordion-button-focus-border-color:     $input-focus-border-color;
$accordion-button-focus-box-shadow:       $btn-focus-box-shadow;

$accordion-icon-width:                    1.25rem;
$accordion-icon-color:                    $accordion-color;
$accordion-icon-active-color:             $accordion-button-active-color;
$accordion-icon-transition:               transform .2s ease-in-out;
$accordion-icon-transform:                rotate(-180deg);

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

$card-bg: $gray-900;
$card-border-color: $border-color;

$input-bg: $gray-900;
$input-color: $primary;
$input-focus-color: $input-color;
$input-focus-bg: $input-bg;
$input-border-color: $border-color;
$input-disabled-bg: $gray-800;

$form-select-bg: $input-bg;
$form-select-color: $input-color;
$form-select-border-color: $border-color;

$modal-content-bg: $gray-900;
$modal-content-border-color: $border-color;
$modal-content-color: $body-color;
$modal-header-border-color: $border-color;
$modal-footer-border-color: $modal-header-border-color;

$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: $gray-900;
$nav-tabs-link-active-border-color: $gray-900 $gray-900 $nav-tabs-link-active-bg;
$nav-tabs-border-color: $border-color;

$pagination-color: $primary;
$pagination-bg: $gray-900;
$pagination-border-color: $border-color;

$pagination-active-bg: $gray-800;
$pagination-active-border-color: $gray-700;

$pagination-hover-color: $primary;
$pagination-hover-bg: $gray-700;
$pagination-hover-border-color: $gray-600;

$table-color: $body-color;
$table-border-color: $border-color;
$table-group-separator-color: $gray-700;
$table-striped-bg-factor: 0.075;
$table-striped-bg: rgba($white, $table-striped-bg-factor);
$table-striped-color: $table-color;

@import './extra.scss';
@import './bootstrap-components.scss';